<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Location_Data/src\main\java/com/locdata/theatres/scraper/Theatres_GeorgiaCom_LocData.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.locdata.theatres.scraper.Theatres_GeorgiaCom_LocData"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Location_Data"/>
</launchConfiguration>
